@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);

$dark-bg: linear-gradient(#110f24 0%, #05050b 100%);
$blue-bg: linear-gradient(140deg, #00d7af 25%, #575bde 100%);

* {
  padding: 0;
  margin: 0;
  outline: 0;
  text-decoration: none;
  list-style: none;
  color: #fff;
  font-family: 'Roboto', sans-serif;
}

button {
  border: none;
  font-size: 15px;
  border-radius: 25px;
  background: none;
}

body {
  background: linear-gradient(#fff 0%, #f6f6f9 100%);
}

img {
  border-radius: 10px;
}

h2 {
  font-size: 50px;
  padding: 0 0 30px;
}

header {
  position: absolute;
  z-index: 1;
  width: 100%;

  .header__main {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    .nav__logo {
      display: flex;
      justify-content: space-between;

      .logo {
        display: flex;
        align-items: center;
        > a {
          display: flex;
          align-items: center;
          font-size: 25px;
          font-weight: bold;

          > p {
            padding: 0 0 0 10px;
          }
        }
      }

      .nav > ul {
        display: flex;
        align-items: center;
        height: 100%;
        margin: 0 0 0 30px;

        > li {
          display: flex;
          margin: 0 20px;

          > a {
            font-size: 20px;
          }
        }
      }
    }
  }

  .auth {
    button:first-child {
      font-size: 15px;
      padding: 10px;
      margin: 0 20px 0 0;
    }

    button:last-child {
      font-size: 15px;
      background: #444444;
      padding: 10px;
    }
  }
}

section {
  .main__wrapper {
    background: $dark-bg;

    .main__before {
      position: relative;
      z-index: 0;
      &::before {
        content: '';
        background: url(./assets/img/shape.svg);
        background-position: bottom;
        background-size: cover;
        background-repeat: no-repeat;
        position: absolute;
        height: 100%;
        width: 100%;
        z-index: -1;
      }
    }

    .main {
      display: flex;
      height: 100vh;
      .main__center {
        display: flex;
        margin: auto;
        align-items: center;
        max-width: 1100px;

        .left {
          max-width: 40%;
          margin: 0 20px 0 0;
          > h1 {
            font-size: 50px;
          }

          > p {
            margin: 20px 0;
            font-size: 25px;
          }

          > button {
            background: linear-gradient(140deg, #575bde 25%, #393ed8 100%);
            padding: 15px;
            margin: 25px 0;
            font-size: 18px;
          }
        }

        .right {
          max-width: 60%;
          > img {
            max-width: 100%;
          }
        }
      }
    }
    .framework {
      display: flex;
      align-items: center;
      max-width: 1100px;
      margin: 0 auto 100px;

      .right {
        max-width: 60%;
        > img {
          max-width: 100%;
        }
      }

      .left {
        max-width: 40%;
        margin: 0 35px 0 0;

        > h3 {
          font-size: 35px;
          margin: 0 0 20px;
        }
        > p {
          font-size: 20px;
        }
      }
    }
    .designed {
      display: flex;
      align-items: center;
      max-width: 1100px;
      margin: 0 auto;
      padding: 0 0 80px;
      .left {
        max-width: 60%;
        > img {
          max-width: 100%;
        }
      }

      .right {
        max-width: 40%;
        margin: 0 0 0 35px;
        > h3 {
          font-size: 35px;
          margin: 0 0 20px;
        }
        > p {
          font-size: 20px;
        }
      }
    }
  }

  .present__wrapper {
    padding: 80px 0;
    margin-bottom: -150px;
    .present {
      max-width: 1100px;
      margin: 0 auto;
      text-align: center;

      .content {
        max-width: 800px;
        margin: 0 auto;
        padding: 0 0 80px;
        > h2,
        > p {
          color: #000;
        }

        > p {
          font-size: 20px;
        }
      }

      > img {
        max-width: 100%;
      }
    }
  }

  .playing__customers__wrapper {
    background: $dark-bg;
    padding: 150px 0 80px;

    .playing__customers {
      max-width: 1100px;
      margin: 0 auto;
      text-align: center;

      > h2 {
        font-size: 35px;
      }

      > p {
        font-size: 20px;
      }

      .img__collection {
        margin: 100px 0;
        display: flex;
        justify-content: space-between;
      }

      > img {
        max-width: 100%;
      }
    }
  }

  .timeline__wrapper {
    padding: 80px 0;
    .timeline {
      max-width: 1100px;
      margin: 0 auto;
      text-align: center;

      > h2,
      p,
      h3 {
        color: #000;
      }

      > p {
        font-size: 20px;
      }

      .timeline__content {
        margin: 80px 0;
        padding: 35px 0;
        display: flex;
        justify-content: space-between;
        text-align: left;
        border-top: 2px solid #ccced0;
        position: relative;

        &::before {
          content: '';
          position: absolute;
          width: 15px;
          border-top: 2px solid #ccced0;
          top: -2px;
          left: -15px;
        }

        .content__block {
          max-width: 22%;

          &::before {
            border-radius: 50%;
            content: '';
            background: #575bde;
            border: 4px solid #fff;
            position: absolute;
            top: -10px;
            height: 10px;
            width: 10px;
          }

          > h3 {
            font-size: 23px;
            margin: 0 0 20px;
          }
        }
      }
    }
  }
  .danille__mayer {
    background: #e6e6e8;
    display: flex;
    height: 500px;
    .left {
      width: 50%;
      padding: 200px 30px;
      text-align: center;

      > h2,
      > p {
        color: #000;
      }

      > h2 {
        font-size: 20px;
        font-weight: normal;
      }

      > p {
        font-size: 30px;
        font-weight: bold;
      }
    }

    .right {
      width: 50%;
      height: 100%;
      background: url(./assets/img/image-03@2x.jpg);
      background-size: cover;
      background-position: center;
    }
  }

  .setup__wrapper {
    padding: 80px 0;
    .setup {
      max-width: 1100px;
      margin: 0 auto;
      text-align: center;
      > h2,
      > p {
        color: #000;
      }

      > p {
        font-size: 20px;
      }
      > p > a {
        color: #2311c5;
      }

      .steps {
        display: flex;
        justify-content: center;
        text-align: left;
        margin: 100px 0;
        .step__content {
          margin: 0 20px;
          max-width: 20%;
          background: #fff;
          padding: 30px;
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
          border-radius: 10px;
          > h3,
          > p {
            color: #000;
          }

          > h3 {
            font-size: 25px;
            margin: 25px 0;
          }

          > p:first-child {
            color: #8e8e8e;
          }
          > p:last-child {
            font-size: 20px;
            line-height: 2rem;
          }

          &:last-child {
            background: $dark-bg;
            > h3,
            > p {
              color: #fff;
            }
          }
        }
      }
    }
  }
}

footer {
  background: $blue-bg;
  .footer__center {
    padding: 80px 0;
    max-width: 1100px;
    margin: 0 auto;
    text-align: center;

    > h2 {
      font-size: 35px;
    }

    > p {
      font-size: 20px;
    }

    .icons__footer {
      margin: 80px 0;
      display: flex;
      justify-content: space-between;
      .icon {
        > p {
          font-size: 25px;
        }
      }
    }

    .ready {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background: $dark-bg;
      border-radius: 10px;
      text-align: left;
      padding: 25px;

      .left {
        > h3 {
          font-size: 30px;
          margin: 0 0 15px;
        }

        > p {
          font-size: 20px;
        }
      }

      .right {
        > button {
          background: linear-gradient(140deg, #575bde 25%, #393ed8 100%);
          padding: 15px 60px;
          margin: 25px 0;
          font-size: 16px;
          font-weight: bold;
        }
      }
    }

    .links__footer {
      display: flex;
      justify-content: space-between;
      margin: 80px 0 0;
      text-align: left;

      .description {
        max-width: 34%;
        > p:first-child {
          font-weight: bold;
          margin: 0 0 10px;
        }
      }

      .link {
        max-width: 17%;
        > h4 {
          margin: 0 0 10px;
        }
      }
    }
  }
}

@media (max-width: 1300px) {
  .main__center,
  .framework,
  .designed,
  .playing__customers,
  .timeline,
  .setup,
  .footer__center,
  .present {
    max-width: 85% !important;
  }

  .setup {
    .steps {
      flex-wrap: wrap;

      .step__content {
        max-width: 30% !important;
        margin: 20px !important;
      }
    }
  }
}

@media (max-width: 1100px) {
}

@media (max-width: 900px) {
  .timeline__content {
    flex-direction: column;
    border-top: none !important;
    border-left: 2px solid #ccced0;
    padding: 0 0 0 25px !important;

    &::before {
      border: none !important;
    }
    .content__block {
      max-width: 100% !important;
      margin: 25px 0;

      &::before {
        top: auto !important;
        left: -10px !important;
      }
    }
  }
}

@media (max-width: 800px) {
  .main__center,
  .framework,
  .designed,
  .playing__customers,
  .timeline,
  .setup,
  .footer__center,
  .present {
    max-width: 96% !important;
  }

  footer {
    .icons__footer {
      flex-wrap: wrap;
    }
    .ready {
      flex-direction: column;
      button {
        margin: 25px 0 0 !important;
      }
    }
    .links__footer {
      flex-wrap: wrap;
    }
  }
}

@media (max-width: 540px) {
  .setup {
    .steps {
      .step__content {
        max-width: 100% !important;
      }
    }
  }
}
