@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);
* {
  padding: 0;
  margin: 0;
  outline: 0;
  text-decoration: none;
  list-style: none;
  color: #fff;
  font-family: "Roboto", sans-serif;
}

button {
  border: none;
  font-size: 15px;
  border-radius: 25px;
  background: none;
}

body {
  background: linear-gradient(#fff 0%, #f6f6f9 100%);
}

img {
  border-radius: 10px;
}

h2 {
  font-size: 50px;
  padding: 0 0 30px;
}

header {
  position: absolute;
  z-index: 1;
  width: 100%;
}
header .header__main {
  display: flex;
  justify-content: space-between;
  padding: 30px;
}
header .header__main .nav__logo {
  display: flex;
  justify-content: space-between;
}
header .header__main .nav__logo .logo {
  display: flex;
  align-items: center;
}
header .header__main .nav__logo .logo > a {
  display: flex;
  align-items: center;
  font-size: 25px;
  font-weight: bold;
}
header .header__main .nav__logo .logo > a > p {
  padding: 0 0 0 10px;
}
header .header__main .nav__logo .nav > ul {
  display: flex;
  align-items: center;
  height: 100%;
  margin: 0 0 0 30px;
}
header .header__main .nav__logo .nav > ul > li {
  display: flex;
  margin: 0 20px;
}
header .header__main .nav__logo .nav > ul > li > a {
  font-size: 20px;
}
header .auth button:first-child {
  font-size: 15px;
  padding: 10px;
  margin: 0 20px 0 0;
}
header .auth button:last-child {
  font-size: 15px;
  background: #444444;
  padding: 10px;
}

section .main__wrapper {
  background: linear-gradient(#110f24 0%, #05050b 100%);
}
section .main__wrapper .main__before {
  position: relative;
  z-index: 0;
}
section .main__wrapper .main__before::before {
  content: "";
  background: url(./assets/img/shape.svg);
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
}
section .main__wrapper .main {
  display: flex;
  height: 100vh;
}
section .main__wrapper .main .main__center {
  display: flex;
  margin: auto;
  align-items: center;
  max-width: 1100px;
}
section .main__wrapper .main .main__center .left {
  max-width: 40%;
  margin: 0 20px 0 0;
}
section .main__wrapper .main .main__center .left > h1 {
  font-size: 50px;
}
section .main__wrapper .main .main__center .left > p {
  margin: 20px 0;
  font-size: 25px;
}
section .main__wrapper .main .main__center .left > button {
  background: linear-gradient(140deg, #575bde 25%, #393ed8 100%);
  padding: 15px;
  margin: 25px 0;
  font-size: 18px;
}
section .main__wrapper .main .main__center .right {
  max-width: 60%;
}
section .main__wrapper .main .main__center .right > img {
  max-width: 100%;
}
section .main__wrapper .framework {
  display: flex;
  align-items: center;
  max-width: 1100px;
  margin: 0 auto 100px;
}
section .main__wrapper .framework .right {
  max-width: 60%;
}
section .main__wrapper .framework .right > img {
  max-width: 100%;
}
section .main__wrapper .framework .left {
  max-width: 40%;
  margin: 0 35px 0 0;
}
section .main__wrapper .framework .left > h3 {
  font-size: 35px;
  margin: 0 0 20px;
}
section .main__wrapper .framework .left > p {
  font-size: 20px;
}
section .main__wrapper .designed {
  display: flex;
  align-items: center;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 0 80px;
}
section .main__wrapper .designed .left {
  max-width: 60%;
}
section .main__wrapper .designed .left > img {
  max-width: 100%;
}
section .main__wrapper .designed .right {
  max-width: 40%;
  margin: 0 0 0 35px;
}
section .main__wrapper .designed .right > h3 {
  font-size: 35px;
  margin: 0 0 20px;
}
section .main__wrapper .designed .right > p {
  font-size: 20px;
}
section .present__wrapper {
  padding: 80px 0;
  margin-bottom: -150px;
}
section .present__wrapper .present {
  max-width: 1100px;
  margin: 0 auto;
  text-align: center;
}
section .present__wrapper .present .content {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 0 80px;
}
section .present__wrapper .present .content > h2,
section .present__wrapper .present .content > p {
  color: #000;
}
section .present__wrapper .present .content > p {
  font-size: 20px;
}
section .present__wrapper .present > img {
  max-width: 100%;
}
section .playing__customers__wrapper {
  background: linear-gradient(#110f24 0%, #05050b 100%);
  padding: 150px 0 80px;
}
section .playing__customers__wrapper .playing__customers {
  max-width: 1100px;
  margin: 0 auto;
  text-align: center;
}
section .playing__customers__wrapper .playing__customers > h2 {
  font-size: 35px;
}
section .playing__customers__wrapper .playing__customers > p {
  font-size: 20px;
}
section .playing__customers__wrapper .playing__customers .img__collection {
  margin: 100px 0;
  display: flex;
  justify-content: space-between;
}
section .playing__customers__wrapper .playing__customers > img {
  max-width: 100%;
}
section .timeline__wrapper {
  padding: 80px 0;
}
section .timeline__wrapper .timeline {
  max-width: 1100px;
  margin: 0 auto;
  text-align: center;
}
section .timeline__wrapper .timeline > h2,
section .timeline__wrapper .timeline p,
section .timeline__wrapper .timeline h3 {
  color: #000;
}
section .timeline__wrapper .timeline > p {
  font-size: 20px;
}
section .timeline__wrapper .timeline .timeline__content {
  margin: 80px 0;
  padding: 35px 0;
  display: flex;
  justify-content: space-between;
  text-align: left;
  border-top: 2px solid #ccced0;
  position: relative;
}
section .timeline__wrapper .timeline .timeline__content::before {
  content: "";
  position: absolute;
  width: 15px;
  border-top: 2px solid #ccced0;
  top: -2px;
  left: -15px;
}
section .timeline__wrapper .timeline .timeline__content .content__block {
  max-width: 22%;
}
section .timeline__wrapper .timeline .timeline__content .content__block::before {
  border-radius: 50%;
  content: "";
  background: #575bde;
  border: 4px solid #fff;
  position: absolute;
  top: -10px;
  height: 10px;
  width: 10px;
}
section .timeline__wrapper .timeline .timeline__content .content__block > h3 {
  font-size: 23px;
  margin: 0 0 20px;
}
section .danille__mayer {
  background: #e6e6e8;
  display: flex;
  height: 500px;
}
section .danille__mayer .left {
  width: 50%;
  padding: 200px 30px;
  text-align: center;
}
section .danille__mayer .left > h2,
section .danille__mayer .left > p {
  color: #000;
}
section .danille__mayer .left > h2 {
  font-size: 20px;
  font-weight: normal;
}
section .danille__mayer .left > p {
  font-size: 30px;
  font-weight: bold;
}
section .danille__mayer .right {
  width: 50%;
  height: 100%;
  background: url(./assets/img/image-03@2x.jpg);
  background-size: cover;
  background-position: center;
}
section .setup__wrapper {
  padding: 80px 0;
}
section .setup__wrapper .setup {
  max-width: 1100px;
  margin: 0 auto;
  text-align: center;
}
section .setup__wrapper .setup > h2,
section .setup__wrapper .setup > p {
  color: #000;
}
section .setup__wrapper .setup > p {
  font-size: 20px;
}
section .setup__wrapper .setup > p > a {
  color: #2311c5;
}
section .setup__wrapper .setup .steps {
  display: flex;
  justify-content: center;
  text-align: left;
  margin: 100px 0;
}
section .setup__wrapper .setup .steps .step__content {
  margin: 0 20px;
  max-width: 20%;
  background: #fff;
  padding: 30px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
section .setup__wrapper .setup .steps .step__content > h3,
section .setup__wrapper .setup .steps .step__content > p {
  color: #000;
}
section .setup__wrapper .setup .steps .step__content > h3 {
  font-size: 25px;
  margin: 25px 0;
}
section .setup__wrapper .setup .steps .step__content > p:first-child {
  color: #8e8e8e;
}
section .setup__wrapper .setup .steps .step__content > p:last-child {
  font-size: 20px;
  line-height: 2rem;
}
section .setup__wrapper .setup .steps .step__content:last-child {
  background: linear-gradient(#110f24 0%, #05050b 100%);
}
section .setup__wrapper .setup .steps .step__content:last-child > h3,
section .setup__wrapper .setup .steps .step__content:last-child > p {
  color: #fff;
}

footer {
  background: linear-gradient(140deg, #00d7af 25%, #575bde 100%);
}
footer .footer__center {
  padding: 80px 0;
  max-width: 1100px;
  margin: 0 auto;
  text-align: center;
}
footer .footer__center > h2 {
  font-size: 35px;
}
footer .footer__center > p {
  font-size: 20px;
}
footer .footer__center .icons__footer {
  margin: 80px 0;
  display: flex;
  justify-content: space-between;
}
footer .footer__center .icons__footer .icon > p {
  font-size: 25px;
}
footer .footer__center .ready {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(#110f24 0%, #05050b 100%);
  border-radius: 10px;
  text-align: left;
  padding: 25px;
}
footer .footer__center .ready .left > h3 {
  font-size: 30px;
  margin: 0 0 15px;
}
footer .footer__center .ready .left > p {
  font-size: 20px;
}
footer .footer__center .ready .right > button {
  background: linear-gradient(140deg, #575bde 25%, #393ed8 100%);
  padding: 15px 60px;
  margin: 25px 0;
  font-size: 16px;
  font-weight: bold;
}
footer .footer__center .links__footer {
  display: flex;
  justify-content: space-between;
  margin: 80px 0 0;
  text-align: left;
}
footer .footer__center .links__footer .description {
  max-width: 34%;
}
footer .footer__center .links__footer .description > p:first-child {
  font-weight: bold;
  margin: 0 0 10px;
}
footer .footer__center .links__footer .link {
  max-width: 17%;
}
footer .footer__center .links__footer .link > h4 {
  margin: 0 0 10px;
}

@media (max-width: 1300px) {
  .main__center,
  .framework,
  .designed,
  .playing__customers,
  .timeline,
  .setup,
  .footer__center,
  .present {
    max-width: 85% !important;
  }
  .setup .steps {
    flex-wrap: wrap;
  }
  .setup .steps .step__content {
    max-width: 30% !important;
    margin: 20px !important;
  }
}
@media (max-width: 900px) {
  .timeline__content {
    flex-direction: column;
    border-top: none !important;
    border-left: 2px solid #ccced0;
    padding: 0 0 0 25px !important;
  }
  .timeline__content::before {
    border: none !important;
  }
  .timeline__content .content__block {
    max-width: 100% !important;
    margin: 25px 0;
  }
  .timeline__content .content__block::before {
    top: auto !important;
    left: -10px !important;
  }
}
@media (max-width: 800px) {
  .main__center,
  .framework,
  .designed,
  .playing__customers,
  .timeline,
  .setup,
  .footer__center,
  .present {
    max-width: 96% !important;
  }
  footer .icons__footer {
    flex-wrap: wrap;
  }
  footer .ready {
    flex-direction: column;
  }
  footer .ready button {
    margin: 25px 0 0 !important;
  }
  footer .links__footer {
    flex-wrap: wrap;
  }
}
@media (max-width: 540px) {
  .setup .steps .step__content {
    max-width: 100% !important;
  }
}/*# sourceMappingURL=style.css.map */